{% extends "base.html" %}

{% block title %}MEASURE Input{% endblock %}

{% block extrahead %}<link href="/media/measure.css" rel="stylesheet" type="text/css"/>{% endblock %}

{% block navbar_items %}
<a href="{% url pdep.views.index %}">MEASURE</a> &raquo;
<a href="{% url pdep.views.input %}">Input</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}MEASURE Input{% endblock %}

{% block page_body %}

<form action="" method="POST">{% csrf_token %}
{{ formset.management_form }}
{% for form in formset %}
<table class="speciesInput">
    <tr><th colspan="2" class="section">Species #{{ forloop.counter }}</th></tr>
    <tr><td colspan="2" class="subsection">General Parameters</td></tr>
    {% include "table_form.html" with form=form %}
    <tr><td colspan="2" class="subsection">Collision Parameters</td></tr>
    {{ form.collisionModelFormSet.management_form }}
    {% for form1 in form.collisionModelFormSet %}
        {% include "table_form.html" with form=form1 %}
    {% endfor %}
</table>
{% endfor %}
<div><input type="submit" value="Submit" id="submit" /></div>
</form>

{% endblock %}
